$mainColor: #F7B094;
$navbarColor: #F5717F;
$productPriceColor: #BF6B84;
$unknownFontColor: #6C5B7A;
$productFontColor: #345C7D;


header {
  background-color: $mainColor;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;

  .hamburguer {
    display: none;
  }

  svg {
    width: 12rem;
    padding: 1.5%
  }

  form {
    display: flex;
    flex-direction: row;
    
    input {
      width: 45em;
      padding: 2%;
      border: 0;
    }

    button {
      background-color: white;
      border: 0;
      color: $productFontColor;
      font-weight: bolder;
    }
  }

  .buttons-div {
    display: flex;

    svg {
      padding: 0;
      width: 3em;
    }
  }
}

nav {
  background-color: $navbarColor;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;

  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1.3%;
  }
}

.carousel {
  width: 100vw;
  height: 70vh;

  .slick-dots {
    bottom: -32rem;
  }

  .carousel-slider {
    width: 100vw;
    height: 10vh;
  
    img {
      width: 70vw;
      height: 70vh;
    }
  }
}


.products-session {
  margin-top: 4%;
  text-align: center;

  h2 {
    color: white;
  }
  span {
    color: $productFontColor;
  }
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-card {
  width: 15vw;
  height: 25rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding: 2.5%;
  border-bottom: 3px solid $navbarColor;

  .stars {
    margin-left: 20%;
    margin-right: 20%;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  img {
    width: 100%;
    height: 50%;
  }

  h4 {
    color: $productFontColor;
  }

  p {
    color: $productPriceColor;
    font-size: 1.1em;
    font-weight: bold;
  }

  button {
    width: 100%;
    padding: 5%;
    background-color: orange;
    border-radius: 5%;
    border: 0;
    font-weight: 1000;
    color: white;
  }

  button:hover {
    transition: 0.5s;
    background-color: rgb(95, 179, 0);
  }

  .bought {
    color: green;
  }
}

.newsletter {
  background-color: $navbarColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5%;
  margin-top: 2%;

  h2, h3 {
    color: white;
    font-weight: bolder;
  }

  form {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    
    input {
      width: 45em;
      padding: 2%;
      border: 0;
    }

    button {
      background-color: white;
      border: 0;
      color: $productFontColor;
      font-weight: bolder;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #F1F1F1;

  h3 {
    color: $productFontColor;
  }

  .social {
    text-align: center;

    a {
      img {
        width: 5rem;
        height: auto;
      }
    }
  }

  .payment {
    text-align: center;
    img {
      width: 25rem;
      height: auto;
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    background-color: #F1F1F1;
    color: $productFontColor;
    font-weight: bolder;
    font-size: 1.3em;
    padding: 2.5%;

    a {
      color: $productFontColor;
    }
  }
}

.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  p {
    text-align: center;
    max-width: 30%;
    color: #AAAAAA;
  }
}

@media (min-width: 1920px) and (min-height: 1080px){
  .carousel {
    width: 100vw;
    
    .slick-dots {
    bottom: -700px;
    }
  }

  .product-card {

    .stars {
      margin-left: 30%;
      margin-right: 30%;
    }
  }
}

@media (min-width: 1360px) and (min-height: 768px){
  .carousel {
    width: 100vw;
    
    .slick-dots {
    bottom: -500px;
    }
  }

  .product-card {

    .stars {
      margin-left: 23%;
      margin-right: 23%;
    }
  }
}

@media (min-width: 1024px) and (min-height: 768px){
  .carousel {
    width: 100vw;
    
    .slick-dots {
    bottom: -500px;
    }
  }

  .product-card {

    .stars {
      margin-left: 14%;
      margin-right: 14%;
    }
  }

  footer {
    .footer-nav {
      font-size: 1em;
    }
  }
}

@media (max-width: 425px) {
  header {
    justify-content: space-around;

    .hamburguer {
      display: unset;
      width: 1em;
      margin-right: 1%;
    }

    svg {
      width: 4em;
    }

    form {
      input {
        width: 20em;
        font-size: 0.5em;
      }
      button {
        font-size: 0.5em;
      }
    }

    .buttons-div svg {
      width: 2em;
    }
  }
  nav {
    display: none;
  }

  .carousel {
    width: 100vw;

    .slick-dots {
      bottom: -350px;
    }
  }

  .products {
    justify-content: space-around;
  }

  .product-card {
    width: 20rem;
    margin: 0.15rem;

    .stars {
      margin: 0;
    }
  }

  .newsletter {
    font-size: 0.8em;

    form {
      input {
        width: 15em;
      }
    }
  }

  footer {
    width: 100vw;

    .social a img {
      width: 3em;
    }

    .footer-nav {
      font-size: 0.5rem;
    }

    .payment img {
      width: 15em;
    }
  }
}